<h2>Your Notifications</h2>

<p>You have <%= @notifications.count %> notifications:</p>

<ul>
  <% @notifications.each do |notification| %>
    <li>Notification ID: <%= notification.id %></li>
  <% end %>
</ul>